<ng-container *ngIf="game$ | async as game">
    
    <!-- <div class="mt-4 container">
        <div class="progress ml-2 mr-2" style="height: 40px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width.%': progress}" [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100">
                <div class="badge badge-warning text-wrap mr-4 ml-4">Question {{gameService.currentQuestion + 1}} of {{gameService.questions.length}}.</div>
            </div>
        </div>
    </div> -->


    <app-question [question]="gameService.getCurrentQuestion() | async"
        (nextQuestion)="skipQuestion()" (questionAnswered)="onAnswerSelected($event)"></app-question>

    
    <div class="row m-0 mt-4 mt-md-5">
        <div class="col-md-8 offset-md-2 col-sm-12">
            <nav class="mx-auto" style="width: 250px;" aria-label="...">
                <ul class="pagination pagination-sm">
                  <li class="page-item" [ngClass]="{ 'active' : (i+1) === currentQuestionIndex}" *ngFor="let in of totalQuestions; let i = index" aria-current="page">
                    <span class="page-link" [ngClass]="{ 'bg-success': currentQuestionIndex > (i+1) && totalQuestions[i+1] === -1, 'bg-danger text-white': currentQuestionIndex > (i+1) && totalQuestions[i+1] !== -1 }"
                        [ngStyle]="{ 'color': (currentQuestionIndex > (i+1) && totalQuestions[i+1] === -1) ? 'white': null }">
                      {{i+1}} 
                    </span>
                  </li>
                </ul>
              </nav>
        </div>
    </div>

</ng-container>


