<!-- Image and text -->
<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container d-flex">
        
            <div class="p-2 flex-fill bd-highlight">
                <h1 class="display-4 header-item text-white">Lives: 
                    <small>
                        <span *ngFor='let in of lives; let i = index'><img src="/assets/images/heart.png"></span>
                    </small>
                </h1>
            </div>
            <div class="p-2 flex-fill text-center bd-highlight">
                <span class="header-item text-white"> Questions {{currentQuestionIndex}} / {{questionsTotal}}</span>
            </div>
            <div class="p-2 flex-fill text-right bd-highlight">
                <h1 class="display-4 header-item text-white">Points: 
                    <small class="score">{{gameService.getScore() | async}}</small>
                </h1>
            </div>
        
    </div>
</nav>