
.option-box {
    border-radius: .25rem;
    height: 8.75rem;
    margin: 1.5rem .625rem 0;
    cursor: pointer;
    box-shadow: 0 0 .25rem 0 rgba(0, 0, 0, 0.24);
    transition: all .12s cubic-bezier(.47,0,.745,.715);

    :hover {
        box-shadow: 0 0.25rem 1rem 0 rgba(0,0,0,.16);
    }
}

.option-box-body {
    background-color: #ffecc2;
    background-image: url('/assets/images/option.png');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    text-align: left;

    :hover {
        box-shadow: none;
    }
}

.selected {
    border: 2px solid #555555;
}

.bg-red {
    background-color: red;
    background-image: url('/assets/images/option-wrong.png');
}

.bg-green {
    background-color: #8ADE5F;
    background-image: url('/assets/images/option-correct.png');
}

.button-item {
    text-transform: uppercase;
    min-height: 60px;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0;
}

.question-item::before {
    content: 'Q: ';
    color: #0D7BAB;
    font-weight: 700;
    font-size: 28px;
}

.question-item {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0;
}

.timer-item::before {
    content: 'Time: ';
    color: #0D7BAB;
    font-weight: 700;
    font-size: 28px;
}

.timer-item {
    min-width: 100px;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0;
}